
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made By <a href="https://github.com/haryan61/Blog-Website" target="_blank" title="Source Code"><b>Harshit</b></a></p>
      <ul class="social-icon">
        <li><a href="https://www.linkedin.com/in/aryan-harshit61/" target="_blank" title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://github.com/haryan61" target="_blank" title="Follow me on GitHub"><i class="fa fa-github"></i></a></li>
        <li><a href="mailto:harshitaryan61@gmail.com" target="_blank" title="Contact me on Mail"><i class="fa fa-envelope"></i></a></li>
      </ul>
  </div>
</div>
</body>
</html>
